In [1]:
import pandas as pd
import os 
import glob

In [2]:
# Change this year to match the excel file you are adding
year = '2008'

In [3]:
# Imports the running dataset which the year selected will be added
if os.path.isfile('cumltowntaxincome.csv'):
    cumltowntax = pd.read_csv("cumltowntaxincome.csv")
else:
    cumltowntax =  pd.DataFrame()
    
if os.path.isfile('cumltowntotal.csv'):
    cumltowntotal = pd.read_csv("cumltowntotal.csv")
else:
    cumltowntotal = pd.DataFrame()

In [4]:
if cumltowntax.empty:
    print('New Town Dataframe Created')
else:
    print("Years already stored for Towns:" + str(pd.unique(cumltowntax['Year'])))
    
if cumltowntotal.empty:
    print('New County Dataframe Created')
else:
    print("Years already stored for County:" + str(pd.unique(cumltowntotal['Year'])))

Years already stored for Towns:[2005 2006 2007]
Years already stored for County:[2005 2006 2007]

In [5]:
glob.glob('./*.xls')

['.\\townGEOIDs.xls',
 '.\\town_income_2005_detail_report.xls',
 '.\\town_income_2006_detail_report.xls',
 '.\\town_income_2007_detail_report.xls',
 '.\\town_income_2008_detail_report.xls',
 '.\\town_income_2009_detail_report.xls',
 '.\\town_income_2010_detail_report.xls',
 '.\\town_income_2011_detail_report.xls',
 '.\\town_income_2012_detail_report.xls',
 '.\\town_income_2013_detail_report.xls',
 '.\\town_income_2014_detail_report.xls',
 '.\\town_income_2015_detail_report.xls']

In [6]:
# Imports excel file and gives list of sheets
data = pd.ExcelFile('town_income_'+year+'_detail_report.xls')
colList = data.sheet_names
print(colList)

['Sheet1', 'Sheet2', 'Sheet3']

In [7]:
# Parse each sheet into it's own dataframes
towntax = data.parse('Sheet1',  skiprows=2)

## Rename Columns

Because shapefiles, the final format for this data, has a limit of 10 characters for headers, it makes sense to abbreviate this now both to save on typing out the names and to make it friendly when joining it later.

In [8]:
towntaxCol = ['AGIClss',  'Return', 'Exempt', 'MarJnt', 'Single','MarSep', 'HdHous', 'AGI',
               'FedTI', 'VTI', 'NetVTax']

towntax.columns = towntaxCol

In [9]:
# There are some footnotes in the excel file. Important to note but they are cut from the final file at the end 
towntax.tail()

,AGIClss,Return,Exempt,MarJnt,Single,MarSep,HdHous,AGI,FedTI,VTI,NetVTax
4354,40000 - 49999,15,40.0,11.0,4.0,0.0,0.0,679107.0,391527.0,403787.0,12064.0000
4355,50000 - 74999,19,47.0,13.0,5.0,0.0,1.0,1138297.0,731828.0,726040.0,23379.6456
4356,75000 +,58,149.0,49.0,9.0,0.0,0.0,10926915.0,8806367.0,7819530.0,412271.1453
4357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4358,Grand Total,208,391.0,107.0,91.0,3.0,7.0,10472092.0,10366625.0,9387508.0,461630.9895

In [10]:
# Remove the several blank rows from the spreadsheet
def removeNA(dfname):
    dfname = dfname[(dfname.iloc[:,0].notnull())]
    return dfname
 
towntax = removeNA(towntax)
towntax = towntax.reset_index(drop=True)

## Add Columns and Town Names

The original excel files did not place the county name on each line but rather at the top of section of Adjusted Gross Income breakdowns. This means that it cannot be easily sorted, or joined to a geospatial dataset, without some intense modification. First a copy of the AGI Class needs to be created so it can be made into the Town Names.

In [11]:
towntax['Year'] = year
towntax['Town'] = towntax['AGIClss']

In [12]:
# Pulls list of unique values in AGIClss
# TownList = pd.unique(towntax['AGIClss'])

# Manually set a list of what are not valid town names, this might need to be updated if the brackets change in the future
delvalue =  ['Loss or None', '0.01 - 4999', '5000 - 9999','10000 - 14999', '15000 - 19999', '20000 - 24999',
             '25000 - 29999','30000 - 34999', '35000 - 39999', '40000 - 44999', '45000 - 49999', '50000 - 59999', 
             '60000 - 74999', '75000 - 99999', '100000 - 149999', '150000 +', '0.01 - 9999', '10000 - 19999', 
             '20000 - 29999','30000 - 39999', '40000 - 49999', '50000 - 74999', '75000 +','Grand Total']

In [13]:
# Creates a list of town names by excluding anything that is in delvalue list
townlist = towntax['Town']
townlist = [x for x in townlist if x not in delvalue]
townlist

['Addison',
 'Albany',
 'Alburgh',
 'Andover',
 'Arlington',
 'Athens',
 'Averill',
 "Avery's Gore",
 'Bakersfield',
 'Baltimore',
 'Barnard',
 'Barnet',
 'Barre City',
 'Barre Town',
 'Barton',
 'Belvidere',
 'Bennington',
 'Benson',
 'Berkshire',
 'Berlin',
 'Bethel',
 'Bloomfield',
 'Bolton',
 'Bradford',
 'Braintree',
 'Brandon',
 'Brattleboro',
 'Bridgewater',
 'Bridport',
 'Brighton',
 'Bristol',
 'Brookfield',
 'Brookline',
 'Brownington',
 'Brunswick',
 "Buel's Gore",
 'Burke',
 'Burlington',
 'Cabot',
 'Calais',
 'Cambridge',
 'Canaan',
 'Castleton',
 'Cavendish',
 'Charleston',
 'Charlotte',
 'Chelsea',
 'Chester',
 'Chittenden',
 'Clarendon',
 'Colchester',
 'Concord',
 'Corinth',
 'Cornwall',
 'Coventry',
 'Craftsbury',
 'Danby',
 'Danville',
 'Derby',
 'Dorset',
 'Dover',
 'Dummerston',
 'Duxbury',
 'East Haven',
 'East Montpelier',
 'Eden',
 'Elmore',
 'Enosburg',
 'Essex Junction',
 'Essex Town',
 'Fair Haven',
 'Fairfax',
 'Fairfield',
 'Fairlee',
 'Fayston',
 'Ferdinand',
 'Ferrisburgh',
 'Fletcher',
 'Franklin',
 'Georgia',
 'Glastenbury',
 'Glover',
 'Goshen',
 'Grafton',
 'Granby',
 'Grand Isle',
 'Granville',
 'Greensboro',
 'Groton',
 'Guildhall',
 'Guilford',
 'Halifax',
 'Hancock',
 'Hardwick',
 'Hartford',
 'Hartland',
 'Highgate',
 'Hinesburg',
 'Holland',
 'Hubbardton',
 'Huntington',
 'Hyde Park',
 'Ira',
 'Irasburg',
 'Isle La Motte',
 'Jamaica',
 'Jay',
 'Jericho',
 'Jericho ID',
 'Johnson',
 'Killington',
 'Kirby',
 'Landgrove',
 'Leicester',
 'Lemington',
 'Lincoln',
 'Londonderry',
 'Lowell',
 'Ludlow',
 'Lunenburg',
 'Lyndon',
 'Maidstone',
 'Manchester',
 'Marlboro',
 'Marshfield',
 'Mendon',
 'Middlebury',
 'Middlesex',
 'Middletown Springs',
 'Milton',
 'Monkton',
 'Montgomery',
 'Montpelier',
 'Moretown',
 'Morgan',
 'Morristown',
 'Mt. Holly',
 'Mt. Tabor',
 'N. Bennington ID',
 'New Haven',
 'Newark',
 'Newbury',
 'Newfane',
 'Newport City',
 'Newport Town',
 'North Hero',
 'Northfield',
 'Norton',
 'Norwich',
 'Orange',
 'Orleans',
 'Orwell',
 'Panton',
 'Pawlet',
 'Peacham',
 'Peru',
 'Pittsfield',
 'Pittsford',
 'Plainfield',
 'Plymouth',
 'Pomfret',
 'Poultney',
 'Pownal',
 'Proctor',
 'Putney',
 'Randolph',
 'Reading',
 'Readsboro',
 'Richford',
 'Richmond',
 'Ripton',
 'Rochester',
 'Rockingham',
 'Roxbury',
 'Royalton',
 'Rupert',
 'Rutland City',
 'Rutland Town',
 'Ryegate',
 'Salisbury',
 'Sandgate',
 'Searsburg',
 'Shaftbury ID',
 'Shaftsbury',
 'Sharon',
 'Sheffield',
 'Shelburne',
 'Sheldon',
 'Shoreham',
 'Shrewsbury',
 'Somerset',
 'South Burlington',
 'South Hero',
 'Springfield',
 'St. Albans City',
 'St. Albans Town',
 'St. George',
 'St. Johnsbury',
 'Stamford',
 'Stannard',
 'Starksboro',
 'Stockbridge',
 'Stowe',
 'Strafford',
 'Stratton',
 'Sudbury',
 'Sunderland',
 'Sutton',
 'Swanton',
 'Thetford',
 'Tinmouth',
 'Topsham',
 'Townshend',
 'Troy',
 'Tunbridge',
 'Underhill ID',
 'Underhill Town',
 'Vergennes',
 'Vernon',
 'Vershire',
 'Victory',
 'Waitsfield',
 'Walden',
 'Wallingford',
 'Waltham',
 'Wardsboro',
 'Warren',
 "Warren's Gore",
 'Washington',
 'Waterbury',
 'Waterford',
 'Waterville',
 'Weathersfield',
 'Wells',
 'Wells River',
 'West Fairlee',
 'West Haven',
 'West Rutland',
 'West Windsor',
 'Westfield',
 'Westford',
 'Westminster',
 'Westmore',
 'Weston',
 'Weybridge',
 'Wheelock',
 'Whiting',
 'Whitingham',
 'Williamstown',
 'Williston',
 'Wilmington',
 'Windham',
 'Windsor',
 'Winhall',
 'Winooski',
 'Wolcott',
 'Woodbury',
 'Woodford',
 'Woodstock',
 'Worcester',
 'Suppressed']

In [14]:
# Iterate through the list and if the value matches the townlist, return that value, otherwise return the previous value

data = towntax['Town']
data = list(data)

newname = []
index1= 0
index2= -1 

for x in data:
    if data[index1] in townlist:
        newname.append(data[index1])
    else:
        newname.append(newname[index2])
    index1+=1
    index2+=1

In [15]:
# Add newly created town names to the town column
towntax['Town'] = newname

In [16]:
# Originaly the town name was on it's own row, this removes those and just leaves valid information. it also removed those footnotes
towntax = towntax[(towntax['Return'].notnull())]
towntax.head(25)

,AGIClss,Return,Exempt,MarJnt,Single,MarSep,HdHous,AGI,FedTI,VTI,NetVTax,Year,Town
1,Loss or None,20,34.0,11.0,8.0,1.0,0.0,-599714.0,0.0,139.0,9.600000e+01,2008,Addison
2,0.01 - 4999,88,69.0,4.0,77.0,1.0,6.0,242664.0,6298.0,6232.0,2.210000e+02,2008,Addison
3,5000 - 9999,86,75.0,9.0,75.0,0.0,2.0,628333.0,54860.0,54563.0,1.873183e+03,2008,Addison
4,10000 - 14999,79,114.0,14.0,59.0,2.0,4.0,980665.0,215668.0,215242.0,7.409432e+03,2008,Addison
5,15000 - 19999,75,99.0,8.0,62.0,0.0,5.0,1315829.0,545329.0,543534.0,1.794271e+04,2008,Addison
6,20000 - 24999,77,127.0,17.0,50.0,3.0,7.0,1753134.0,772268.0,758372.0,2.643986e+04,2008,Addison
7,25000 - 29999,56,97.0,18.0,32.0,0.0,6.0,1552839.0,730763.0,727141.0,2.529708e+04,2008,Addison
8,30000 - 34999,53,110.0,24.0,23.0,3.0,3.0,1736929.0,838562.0,823500.0,2.918297e+04,2008,Addison
9,35000 - 39999,56,92.0,11.0,35.0,3.0,7.0,2094095.0,1297535.0,1293260.0,4.493900e+04,2008,Addison
10,40000 - 44999,53,118.0,26.0,22.0,2.0,3.0,2265374.0,1218335.0,1206181.0,4.190562e+04,2008,Addison
11,45000 - 49999,37,92.0,22.0,8.0,2.0,5.0,1752788.0,981822.0,971711.0,3.519000e+04,2008,Addison
12,50000 - 59999,63,148.0,42.0,17.0,0.0,4.0,3448693.0,2135226.0,2138964.0,7.863575e+04,2008,Addison
13,60000 - 74999,82,235.0,70.0,11.0,0.0,1.0,5471767.0,3466989.0,3406574.0,1.222187e+05,2008,Addison
14,75000 - 99999,76,213.0,71.0,4.0,1.0,0.0,6543495.0,4610271.0,4495138.0,1.737223e+05,2008,Addison
15,100000 - 149999,49,139.0,42.0,6.0,1.0,0.0,5766836.0,4311772.0,4104959.0,1.919916e+05,2008,Addison
16,150000 +,27,65.0,20.0,5.0,2.0,0.0,9733694.0,8249837.0,7292220.0,3.382997e+05,2008,Addison
17,Grand Total,977,1827.0,409.0,494.0,21.0,53.0,44687421.0,29435535.0,28037730.0,1.135365e+06,2008,Addison
19,Loss or None,14,23.0,7.0,6.0,1.0,0.0,-307674.0,0.0,0.0,0.000000e+00,2008,Albany
20,0.01 - 4999,39,40.0,11.0,28.0,0.0,0.0,100978.0,826.0,826.0,6.070000e+02,2008,Albany
21,5000 - 9999,33,37.0,8.0,23.0,0.0,2.0,249196.0,18873.0,18873.0,6.760000e+02,2008,Albany
22,10000 - 14999,38,60.0,9.0,23.0,0.0,6.0,469197.0,100302.0,102397.0,3.329000e+03,2008,Albany
23,15000 - 19999,41,73.0,13.0,23.0,2.0,3.0,712164.0,202833.0,200550.0,7.227000e+03,2008,Albany
24,20000 - 24999,38,71.0,13.0,20.0,2.0,3.0,863951.0,290260.0,289833.0,1.052574e+04,2008,Albany
25,25000 - 29999,29,69.0,14.0,11.0,1.0,3.0,788570.0,292441.0,291334.0,1.124000e+04,2008,Albany
26,30000 - 34999,28,72.0,13.0,9.0,1.0,5.0,896519.0,372387.0,368563.0,1.307900e+04,2008,Albany

## Column Order

In order for this data to be intuative, changing column order in necessary. First year, then town and then the AGI Class means that this data can be cut numerious ways

In [17]:
towntotal = towntax[(towntax['AGIClss'] == "Grand Total")]
towntax = towntax[(towntax['AGIClss'] != "Grand Total")]

In [18]:
towntotal.columns

Index(['AGIClss', 'Return', 'Exempt', 'MarJnt', 'Single', 'MarSep', 'HdHous',
       'AGI', 'FedTI', 'VTI', 'NetVTax', 'Year', 'Town'],
      dtype='object')

In [19]:
towntotal.columns = ['Type', 'Return', 'Exempt', 'MarJnt', 'Single', 'MarSep', 'HdHous',
       'AGI', 'FedTI', 'VTI', 'NetVTax', 'Year', 'Town']

In [20]:
# Reorders the columns
towntax = towntax[['Year', 'Town','AGIClss', 'Return', 'Exempt', 'MarJnt', 'Single', 'MarSep', 'HdHous',
       'AGI', 'FedTI', 'VTI', 'NetVTax']]
towntotal = towntotal[['Year', 'Town','Type', 'Return', 'Exempt', 'MarJnt', 'Single', 'MarSep', 'HdHous',
       'AGI', 'FedTI', 'VTI', 'NetVTax']]

In [21]:
towntax.tail(25)

,Year,Town,AGIClss,Return,Exempt,MarJnt,Single,MarSep,HdHous,AGI,FedTI,VTI,NetVTax
4068,2008,Woodstock,150000 +,129,316.0,105.0,20.0,2.0,2.0,45320905.0,35970438.0,31570637.0,1.924407e+06
4071,2008,Worcester,Loss or None,9,11.0,3.0,6.0,0.0,0.0,-146604.0,0.0,0.0,0.000000e+00
4072,2008,Worcester,0.01 - 4999,50,51.0,9.0,39.0,0.0,2.0,141237.0,-5282.0,5012.0,1.850000e+02
4073,2008,Worcester,5000 - 9999,55,49.0,6.0,45.0,2.0,2.0,426436.0,47120.0,52701.0,1.920000e+03
4074,2008,Worcester,10000 - 14999,35,60.0,8.0,20.0,2.0,5.0,440937.0,70277.0,70424.0,2.625000e+03
4075,2008,Worcester,15000 - 19999,26,43.0,7.0,13.0,1.0,5.0,450872.0,122315.0,125496.0,4.519000e+03
4076,2008,Worcester,20000 - 24999,22,54.0,11.0,6.0,0.0,5.0,499791.0,118365.0,115739.0,4.165000e+03
4077,2008,Worcester,25000 - 29999,27,53.0,9.0,13.0,0.0,5.0,742310.0,302888.0,326817.0,1.004193e+04
4078,2008,Worcester,30000 - 34999,29,49.0,10.0,15.0,0.0,4.0,938645.0,513356.0,513309.0,1.737778e+04
4079,2008,Worcester,35000 - 39999,27,69.0,14.0,10.0,0.0,3.0,1013736.0,489082.0,486320.0,1.741800e+04
4080,2008,Worcester,40000 - 44999,31,53.0,8.0,15.0,4.0,4.0,1311166.0,862297.0,836479.0,3.067500e+04
4081,2008,Worcester,45000 - 49999,15,34.0,10.0,1.0,1.0,3.0,722072.0,399132.0,419983.0,1.462092e+04
4082,2008,Worcester,50000 - 59999,30,66.0,20.0,7.0,0.0,3.0,1637233.0,1049509.0,1048896.0,3.970800e+04
4083,2008,Worcester,60000 - 74999,29,76.0,23.0,5.0,0.0,1.0,1927200.0,1288847.0,1289174.0,4.752116e+04
4084,2008,Worcester,75000 - 99999,56,145.0,51.0,4.0,0.0,1.0,4789814.0,3414724.0,3408386.0,1.392574e+05
4085,2008,Worcester,100000 - 149999,40,115.0,37.0,2.0,0.0,1.0,4778723.0,3663228.0,3661264.0,1.795150e+05
4086,2008,Worcester,150000 +,11,30.0,11.0,0.0,0.0,0.0,2515302.0,2051447.0,1967660.0,1.236780e+05
4089,2008,Suppressed,Loss or None,59,79.0,19.0,35.0,3.0,2.0,-3336034.0,0.0,1194.0,1.051000e+03
4090,2008,Suppressed,0.01 - 9999,19,19.0,2.0,16.0,0.0,1.0,106788.0,4262.0,4262.0,4.500000e+01
4091,2008,Suppressed,10000 - 19999,13,15.0,2.0,11.0,0.0,0.0,174367.0,49947.0,49947.0,1.380000e+03
4092,2008,Suppressed,20000 - 29999,8,9.0,0.0,7.0,0.0,1.0,193205.0,104219.0,104219.0,2.805000e+03
4093,2008,Suppressed,30000 - 39999,17,33.0,11.0,4.0,0.0,2.0,589447.0,278475.0,278529.0,8.635199e+03
4094,2008,Suppressed,40000 - 49999,15,40.0,11.0,4.0,0.0,0.0,679107.0,391527.0,403787.0,1.206400e+04
4095,2008,Suppressed,50000 - 74999,19,47.0,13.0,5.0,0.0,1.0,1138297.0,731828.0,726040.0,2.337965e+04
4096,2008,Suppressed,75000 +,58,149.0,49.0,9.0,0.0,0.0,10926915.0,8806367.0,7819530.0,4.122711e+05

In [22]:
towntotal.tail(25)

,Year,Town,Type,Return,Exempt,MarJnt,Single,MarSep,HdHous,AGI,FedTI,VTI,NetVTax
3729,2008,West Haven,Grand Total,136,251.0,66.0,62.0,0.0,8.0,5.988478e+06,3935268.0,3602176.0,1.563263e+05
3747,2008,West Rutland,Grand Total,1308,2330.0,502.0,671.0,15.0,120.0,6.196157e+07,39632915.0,36187983.0,1.757746e+06
3765,2008,West Windsor,Grand Total,521,966.0,266.0,223.0,16.0,16.0,1.049892e+08,91488991.0,76466910.0,4.243604e+06
3775,2008,Westfield,Grand Total,245,477.0,128.0,100.0,3.0,14.0,9.075569e+06,5384737.0,5217771.0,2.010917e+05
3793,2008,Westford,Grand Total,987,1995.0,483.0,421.0,17.0,66.0,6.442588e+07,45174904.0,44854020.0,2.264053e+06
3811,2008,Westminster,Grand Total,1481,2740.0,651.0,693.0,29.0,108.0,7.054296e+07,46188278.0,45726359.0,2.074731e+06
3821,2008,Westmore,Grand Total,171,321.0,93.0,67.0,2.0,9.0,8.213056e+06,5404869.0,5171945.0,2.492054e+05
3831,2008,Weston,Grand Total,325,570.0,145.0,159.0,4.0,17.0,2.220698e+07,14948198.0,14387812.0,6.844443e+05
3849,2008,Weybridge,Grand Total,409,845.0,218.0,161.0,6.0,24.0,3.510843e+07,26636370.0,25597517.0,1.507293e+06
3859,2008,Wheelock,Grand Total,313,628.0,158.0,133.0,4.0,18.0,1.237520e+07,7373770.0,7287961.0,2.981631e+05
3869,2008,Whiting,Grand Total,244,441.0,96.0,123.0,8.0,17.0,9.493149e+06,5920465.0,5899941.0,2.601399e+05
3887,2008,Whitingham,Grand Total,610,1175.0,293.0,271.0,6.0,40.0,2.645702e+07,15796910.0,16118040.0,6.003730e+05
3905,2008,Williamstown,Grand Total,1719,3242.0,734.0,792.0,24.0,169.0,7.147912e+07,45440916.0,44868107.0,1.900496e+06
3923,2008,Williston,Grand Total,4489,8762.0,2076.0,2086.0,49.0,278.0,3.542866e+08,258076523.0,256557885.0,1.453484e+07
3941,2008,Wilmington,Grand Total,1101,1888.0,412.0,578.0,28.0,83.0,5.591879e+07,38428865.0,36967670.0,1.961300e+06
3951,2008,Windham,Grand Total,375,631.0,121.0,204.0,8.0,42.0,1.514538e+07,9251178.0,9366652.0,3.777459e+05
3969,2008,Windsor,Grand Total,1940,3407.0,698.0,1027.0,27.0,188.0,7.765806e+07,49832450.0,48890667.0,1.993868e+06
3987,2008,Winhall,Grand Total,409,725.0,197.0,184.0,14.0,14.0,6.554584e+07,52586462.0,41807704.0,7.930650e+05
4005,2008,Winooski,Grand Total,3577,5582.0,852.0,2314.0,56.0,355.0,1.214936e+08,75780500.0,75615702.0,3.113593e+06
4023,2008,Wolcott,Grand Total,818,1577.0,347.0,373.0,11.0,87.0,3.090764e+07,18467416.0,18018656.0,7.147872e+05
4041,2008,Woodbury,Grand Total,439,802.0,193.0,203.0,8.0,35.0,2.055247e+07,13254606.0,12976042.0,5.816381e+05
4051,2008,Woodford,Grand Total,177,338.0,84.0,78.0,5.0,10.0,7.397117e+06,4503380.0,4526799.0,1.459124e+05
4069,2008,Woodstock,Grand Total,1774,3051.0,708.0,905.0,38.0,123.0,1.076285e+08,76759322.0,71941415.0,3.587720e+06
4087,2008,Worcester,Grand Total,492,958.0,237.0,201.0,10.0,44.0,2.218887e+07,14387305.0,14327660.0,6.332272e+05
4097,2008,Suppressed,Grand Total,208,391.0,107.0,91.0,3.0,7.0,1.047209e+07,10366625.0,9387508.0,4.616310e+05

## Appending to Running Database

The point of all of this is to make adding multiple years of data together almost effortless. For the very first year the running data, stored as a csv, needs to be created. After that all you have to do is change the year at the top and rerun the kernel and it should automatically add the year selected to the running database

In [23]:
if cumltowntax.empty:
    cumltowntax = towntax 
else:
    cumltowntax = cumltowntax.append(towntax, ignore_index=True)
    

if cumltowntotal.empty:
    cumltowntotal = towntotal
else:
    cumltowntotal = cumltowntotal.append(towntotal, ignore_index=True)

In [24]:
cumltowntax.tail(20)

,Year,Town,AGIClss,Return,Exempt,MarJnt,Single,MarSep,HdHous,AGI,FedTI,VTI,NetVTax
14038,2008,Worcester,15000 - 19999,26,43.0,7.0,13.0,1.0,5.0,450872.0,122315.0,125496.0,4519.0000
14039,2008,Worcester,20000 - 24999,22,54.0,11.0,6.0,0.0,5.0,499791.0,118365.0,115739.0,4165.0000
14040,2008,Worcester,25000 - 29999,27,53.0,9.0,13.0,0.0,5.0,742310.0,302888.0,326817.0,10041.9320
14041,2008,Worcester,30000 - 34999,29,49.0,10.0,15.0,0.0,4.0,938645.0,513356.0,513309.0,17377.7792
14042,2008,Worcester,35000 - 39999,27,69.0,14.0,10.0,0.0,3.0,1013736.0,489082.0,486320.0,17418.0000
14043,2008,Worcester,40000 - 44999,31,53.0,8.0,15.0,4.0,4.0,1311166.0,862297.0,836479.0,30675.0000
14044,2008,Worcester,45000 - 49999,15,34.0,10.0,1.0,1.0,3.0,722072.0,399132.0,419983.0,14620.9197
14045,2008,Worcester,50000 - 59999,30,66.0,20.0,7.0,0.0,3.0,1637233.0,1049509.0,1048896.0,39708.0000
14046,2008,Worcester,60000 - 74999,29,76.0,23.0,5.0,0.0,1.0,1927200.0,1288847.0,1289174.0,47521.1618
14047,2008,Worcester,75000 - 99999,56,145.0,51.0,4.0,0.0,1.0,4789814.0,3414724.0,3408386.0,139257.4185
14048,2008,Worcester,100000 - 149999,40,115.0,37.0,2.0,0.0,1.0,4778723.0,3663228.0,3661264.0,179515.0000
14049,2008,Worcester,150000 +,11,30.0,11.0,0.0,0.0,0.0,2515302.0,2051447.0,1967660.0,123678.0000
14050,2008,Suppressed,Loss or None,59,79.0,19.0,35.0,3.0,2.0,-3336034.0,0.0,1194.0,1051.0000
14051,2008,Suppressed,0.01 - 9999,19,19.0,2.0,16.0,0.0,1.0,106788.0,4262.0,4262.0,45.0000
14052,2008,Suppressed,10000 - 19999,13,15.0,2.0,11.0,0.0,0.0,174367.0,49947.0,49947.0,1380.0000
14053,2008,Suppressed,20000 - 29999,8,9.0,0.0,7.0,0.0,1.0,193205.0,104219.0,104219.0,2805.0000
14054,2008,Suppressed,30000 - 39999,17,33.0,11.0,4.0,0.0,2.0,589447.0,278475.0,278529.0,8635.1986
14055,2008,Suppressed,40000 - 49999,15,40.0,11.0,4.0,0.0,0.0,679107.0,391527.0,403787.0,12064.0000
14056,2008,Suppressed,50000 - 74999,19,47.0,13.0,5.0,0.0,1.0,1138297.0,731828.0,726040.0,23379.6456
14057,2008,Suppressed,75000 +,58,149.0,49.0,9.0,0.0,0.0,10926915.0,8806367.0,7819530.0,412271.1453

In [25]:
cumltowntotal.tail(20)

,Year,Town,Type,Return,Exempt,MarJnt,Single,MarSep,HdHous,AGI,FedTI,VTI,NetVTax
996,2008,Westminster,Grand Total,1481,2740.0,651.0,693.0,29.0,108.0,7.054296e+07,46188278.0,45726359.0,2.074731e+06
997,2008,Westmore,Grand Total,171,321.0,93.0,67.0,2.0,9.0,8.213056e+06,5404869.0,5171945.0,2.492054e+05
998,2008,Weston,Grand Total,325,570.0,145.0,159.0,4.0,17.0,2.220698e+07,14948198.0,14387812.0,6.844443e+05
999,2008,Weybridge,Grand Total,409,845.0,218.0,161.0,6.0,24.0,3.510843e+07,26636370.0,25597517.0,1.507293e+06
1000,2008,Wheelock,Grand Total,313,628.0,158.0,133.0,4.0,18.0,1.237520e+07,7373770.0,7287961.0,2.981631e+05
1001,2008,Whiting,Grand Total,244,441.0,96.0,123.0,8.0,17.0,9.493149e+06,5920465.0,5899941.0,2.601399e+05
1002,2008,Whitingham,Grand Total,610,1175.0,293.0,271.0,6.0,40.0,2.645702e+07,15796910.0,16118040.0,6.003730e+05
1003,2008,Williamstown,Grand Total,1719,3242.0,734.0,792.0,24.0,169.0,7.147912e+07,45440916.0,44868107.0,1.900496e+06
1004,2008,Williston,Grand Total,4489,8762.0,2076.0,2086.0,49.0,278.0,3.542866e+08,258076523.0,256557885.0,1.453484e+07
1005,2008,Wilmington,Grand Total,1101,1888.0,412.0,578.0,28.0,83.0,5.591879e+07,38428865.0,36967670.0,1.961300e+06
1006,2008,Windham,Grand Total,375,631.0,121.0,204.0,8.0,42.0,1.514538e+07,9251178.0,9366652.0,3.777459e+05
1007,2008,Windsor,Grand Total,1940,3407.0,698.0,1027.0,27.0,188.0,7.765806e+07,49832450.0,48890667.0,1.993868e+06
1008,2008,Winhall,Grand Total,409,725.0,197.0,184.0,14.0,14.0,6.554584e+07,52586462.0,41807704.0,7.930650e+05
1009,2008,Winooski,Grand Total,3577,5582.0,852.0,2314.0,56.0,355.0,1.214936e+08,75780500.0,75615702.0,3.113593e+06
1010,2008,Wolcott,Grand Total,818,1577.0,347.0,373.0,11.0,87.0,3.090764e+07,18467416.0,18018656.0,7.147872e+05
1011,2008,Woodbury,Grand Total,439,802.0,193.0,203.0,8.0,35.0,2.055247e+07,13254606.0,12976042.0,5.816381e+05
1012,2008,Woodford,Grand Total,177,338.0,84.0,78.0,5.0,10.0,7.397117e+06,4503380.0,4526799.0,1.459124e+05
1013,2008,Woodstock,Grand Total,1774,3051.0,708.0,905.0,38.0,123.0,1.076285e+08,76759322.0,71941415.0,3.587720e+06
1014,2008,Worcester,Grand Total,492,958.0,237.0,201.0,10.0,44.0,2.218887e+07,14387305.0,14327660.0,6.332272e+05
1015,2008,Suppressed,Grand Total,208,391.0,107.0,91.0,3.0,7.0,1.047209e+07,10366625.0,9387508.0,4.616310e+05

In [26]:
# export to a csv, if the index is not set to false it will add an unnamed column with the original index which will need to be deleted individually
cumltowntax.to_csv("cumltowntaxincome.csv", index=False)
cumltowntotal.to_csv("cumltowntotal.csv", index=False)

## Adding to a Shapefile

Once all the years are added together it is time to join them with the Town Boundaries Shapefile in whichever GIS program you prefer. In the CSV there is a set of data that is marked in the Town column as Surpressed/Not Stated which cannot be joined and will be marked as ignored. It is important not to lose that data, while it is small it might be important given a specific problem.